.cv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 794px;
    min-height: 1123px;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    /* line-height: 1.5; */
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
