.print {
  width: 794px;
  min-height: 1123px;
  height: 100%;
  background-color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
  margin: 30px auto;
  box-shadow: 0 0 900px 900px rgba(0, 0, 0, 0.4);
}

.general-info-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info-preview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.8fr 0.5fr 0.5fr;
  grid-template-areas:
    "name name"
    "title title"
    "phone email"
    "linkedin location";
  justify-self: flex-start;
  width: 66%;
}

.photo-preview {
  justify-self: end;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  background: linear-gradient(270deg, #b15a5a, #5b0707);
}

.name-preview {
  grid-area: name;
  font-size: 2.5rem;
  font-weight: 700;
}

.title-preview {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: 700;
}

.phone-preview {
  grid-area: phone;
}

.email-preview {
  grid-area: email;
}

.linkedin-preview {
  grid-area: linkedin;
}

.location-preview {
  grid-area: location;
}

.img-wrap-preview {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.photo-preview img {
  width: auto;
  height: 100%;
}

.summary-preview,
.experience-preview,
.education-preview {
  margin: 10px 40px;
}

.summary-title,
.experience-title,
.education-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b15a5a;
}

.line {
  height: 3px;
  background-color: #b15a5a;
  margin: 10px 0;
}

.summary-text {
  font-size: 1rem;
}

.job-title-preview {
  font-size: 1.2rem;
  font-weight: bold;
}

.company-preview {
  font-size: 1rem;
  color: #777777;
}

.city-preview {
  font-size: 1rem;
  color: #777777;
}

.dates-preview {
  font-size: 1rem;
  color: #777777;
}

.description-preview {
  font-size: 1rem;
}

.obj {
  margin-bottom: 15px;
}
  
  .degree-preview {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .school-preview,
  .dates-preview {
    font-size: 1rem;
    color: #777777;
  }
  
