.experiences-container {
  margin-top: 4px;
}

.experience-form {
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 7px;
  margin-bottom: 8px;

  &:hover {
    border: 1px solid #b15a5a;
  }
}

.experience-form.focused {
  border: 2px solid #b15a5a;
}

input,
textarea {
  border: none;
  outline: none;
}

textarea {
  padding: 10px;
  resize: none;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #f8f8f8;
}

.job-title input,
.company input,
.city input,
.description textarea {
  padding: 5px;
  width: 580px;
}

.job-title input,
.job-title input::placeholder {
  font-size: 1.2rem;
  font-weight: bold;
}

.job-title input::placeholder {
  color: #bcbcbc;
}

.company input,
.company input::placeholder,
.city input,
.city input::placeholder {
  font-size: 1rem;
  color: #777777;
}

.company input::placeholder,
.city input::placeholder {
  font-weight: 600;
}

.dates {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
}

.dates label {
    margin-right: 10px;
  }
  
  .dates input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .add-experience,
  .remove-experience {
    display: none;
  }
  
  .experience:hover .add-experience,
  .experience-form:hover .remove-experience {
    display: block;
  }
  
  .add-experience button,
  .remove-experience button {
    background-color: #b15a5a;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .add-experience button:hover,
  .remove-experience button:hover {
    background-color: #5b0707;
  }