.summary-input {
  margin-top: 20px;
}

.summary-input textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  width: 610px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.summary-input textarea:focus,
.summary-input textarea:hover {
  border: 2px solid #b15a5a;
  background-color: #fff;
}
